@font-face {
  font-family: roboto;
  src: url(../assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: helvetica;
  src: url(../assets/fonts/coolveticarg.otf);
}
@font-face {
  font-family: RachelBrown;
  src: url(../assets/fonts/RachelBrown.ttf);
}
@font-face {
  font-family: universal;
  src: url(../assets/fonts/Universal\ Serif.ttf);
}
.medidas {
  width: 350px;
  height: 240px;
}

#subtitulo {
  text-align: start;
  font-size: 34px;
  color: black;
}

#intro {
  padding: 25px;
}
#intro p {
  font-size: 22px;
}

#info-copa {
  margin-top: 40px;
}
#info-copa .accordion-item {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(19, 156, 197, 0.5))), url(../assets/img/fondo-blanco.jpg);
  background: linear-gradient(top, rgba(255, 255, 255, 0), rgba(19, 156, 197, 0.5)), url(../assets/img/fondo-blanco.jpg);
  background-size: cover;
}
#info-copa .accordion-button {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(19, 156, 197, 0.5))), url(../assets/img/fondo-blanco.jpg);
  background: linear-gradient(top, rgba(255, 255, 255, 0), rgba(19, 156, 197, 0.5)), url(../assets/img/fondo-blanco.jpg);
  background-size: cover;
}

#copa {
  border: 4px solid #052c3a;
  border-radius: 20px;
  margin-bottom: 20px;
}

.carrousel {
  width: 1700px;
  height: 750px;
}

.fade {
  opacity: 0.8;
  -webkit-transition: opacity 0.5s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.fade:hover {
  opacity: 1;
}

#cartel-medio {
  background: url(../assets/img/blanco-horizontal.jpg) no-repeat center center fixed !important;
  background-size: cover;
  padding: 10px;
  margin-top: 40px;
}
#cartel-medio div p {
  font-family: helvetica;
  font-size: 22px;
}

#estadisticas {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(19, 156, 197, 0.8))), url(../assets/img/blanco-horizontal.jpg);
  background: linear-gradient(top, rgba(255, 255, 255, 0), rgba(19, 156, 197, 0.8)), url(../assets/img/blanco-horizontal.jpg);
  background-size: cover;
  margin-top: 20px;
}
#estadisticas h3 {
  margin-top: 20px;
  color: #040955;
}

#goleadores {
  border: solid 1px black;
  border-radius: 30px;
  margin-bottom: 20px;
}

.filas-info, .numeros-info {
  font-size: 60px;
  font-family: helvetica;
}

.resultados-finales {
  padding: 5px;
}

.jugadores {
  margin-top: 10px;
}

.numeros-info {
  font-size: 40px;
}

@media screen and (max-width: 1590px) {
  .medidas {
    width: 250px;
    height: 200px;
  }

  .carrousel {
    width: 1400px;
    height: 650px;
  }
}
@media screen and (max-width: 1200px) {
  .medidas {
    width: 200px;
    height: 150px;
  }

  .carrousel {
    width: 1200px;
    height: 550px;
  }

  #info-copa {
    margin-top: 0px;
    padding: 0px;
  }
}
@media screen and (max-width: 990px) {
  .medidas {
    width: 300px;
    height: 220px;
  }

  .carrousel {
    width: 1000px;
    height: 480px;
  }

  #intro p {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  #copa {
    height: 250px;
  }

  #subtitulo {
    font-size: 20px;
  }

  .carrousel {
    width: 750px;
    height: 350px;
  }
}
@media screen and (max-width: 480px) {
  #copa {
    height: 200px;
  }

  h1, h2 {
    font-size: 30px;
  }

  .carrousel {
    width: 500px;
    height: 280px;
  }
}
* {
  font-size: 18px;
  color: black;
}

.body-index {
  width: 100%;
  background-color: rgb(19, 156, 197);
}

.fondo-general, .fotos-historia, footer {
  background: url(../assets/img/footer.webp) no-repeat center center fixed;
  background-size: cover;
}

footer {
  margin-top: 40px;
}

header {
  height: 30vh;
  background: url(../assets/img/fondo3.jpg) no-repeat center center fixed;
  background-size: cover;
  margin-bottom: 30px;
}
header nav {
  margin-left: 20px;
}
header nav ul li {
  padding: 15px;
  border-radius: 3px;
  margin: 20px;
  list-style-type: none;
}
header nav ul li a {
  font-size: 28px !important;
  color: white !important;
  text-decoration: none;
  font-family: helvetica;
  padding: 5px;
}

h1, h2 {
  color: #040955;
  font-size: 60px;
  text-align: center;
  font-family: universal;
}

p {
  text-align: center;
}

#logo-header {
  text-align: center;
  margin: 20px;
}

#logo {
  width: 150px;
  height: 150px;
}

#footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.links-ayuda {
  text-decoration: none;
  color: antiquewhite;
}

.social-media {
  text-align: center;
  color: antiquewhite;
}

h2 {
  font-size: 40px;
  font-family: RachelBrown;
}

h4 {
  color: dodgerblue;
}

@media screen and (max-width: 990px) {
  header {
    height: 100vh;
  }
  header nav ul li a {
    color: black !important;
  }
}
@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 40px;
  }

  #logo {
    width: 120px;
    height: 120px;
  }

  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  #logo {
    width: 100px;
    height: 100px;
  }
}
#caption {
  color: #040955;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif bold;
  font-weight: bold;
}

.fondo-tablas {
  background: url(../assets/img/blanco-horizontal.jpg) no-repeat center center fixed !important;
  background-size: cover;
  padding: 10px;
}

.fondo-videos {
  background: url(../assets/img/fondo-blanco.jpg) no-repeat center center fixed !important;
  background-size: cover;
}

.bordes-fotos {
  border: 3px solid #040955;
  margin-top: 45px;
  margin-bottom: 45px;
  -webkit-box-shadow: 0px 0px 34px 6px rgb(39, 68, 214);
          box-shadow: 0px 0px 34px 6px rgb(39, 68, 214);
  width: 550px;
  height: 350px;
}

#tablas-ligas {
  text-align: center;
}

.puntos {
  background-color: aqua;
}

.videos-partidos {
  width: 500px;
  height: 260px;
}

@media screen and (max-width: 1210px) {
  .bordes-fotos {
    width: 460px;
    height: 300px;
  }

  .videos-partidos {
    width: 460px;
    height: 255px;
  }
}
@media screen and (max-width: 1050px) {
  .bordes-fotos {
    width: 420px;
    height: 275px;
  }
}
@media screen and (max-width: 550px) {
  .bordes-fotos {
    width: 300px;
    height: 210px;
  }

  .videos-partidos {
    width: 340px;
    height: 200px;
  }
}
.fotos-historia {
  border: solid 3px black;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.medidas-historia {
  width: 500px;
  height: 340px;
  margin-top: 10px;
  border-radius: 20px;
  border-style: inset;
  -webkit-box-shadow: 0px 0px 36px 6px rgb(51, 132, 138);
          box-shadow: 0px 0px 36px 6px rgb(51, 132, 138);
}

.bordes-historia {
  text-align: center;
}

.parrafo {
  padding: 23px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: black;
  font-size: 20px;
  background: url(../assets/img/blanco-horizontal.jpg) no-repeat center center fixed !important;
  background-size: cover;
  border-radius: 10px;
}

#ultima-info {
  margin-top: 15px;
}

#titulo-carta {
  color: #040955;
}

main div div div div div h2 {
  font-family: universal;
}
main div div div div div h5 {
  color: #040955;
}

.flip-card {
  background-color: transparent;
  width: 450px;
  height: 450px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-bottom: 20px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgb(19, 156, 197))), url(../assets/img/blanco-horizontal.jpg);
  background: linear-gradient(top, rgba(255, 255, 255, 0), rgb(19, 156, 197)), url(../assets/img/blanco-horizontal.jpg);
  background-size: cover;
}

.flip-card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 20px;
  background-color: transparent;
}

@media screen and (max-width: 1210px) {
  .medidas-historia {
    width: 400px;
    height: 270px;
  }
}
@media screen and (max-width: 990px) {
  #texto-marcado {
    width: 500px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  #texto-marcado {
    border-radius: 30px;
    width: 350px;
    font-size: 12px;
  }

  #titulo-carta {
    font-size: 18px;
  }

  .medidas-historia {
    width: 350px;
    height: 260px;
  }

  #himno-video {
    width: 420px;
    height: 280px;
  }

  .flip-card {
    width: 450px;
    height: 480px;
  }
}
@media screen and (max-width: 510px) {
  #texto-marcado {
    width: 270px;
  }

  #titulo-carta {
    font-size: 16px;
  }

  .medidas-historia {
    width: 300px;
    height: 220px;
  }

  #himno-video {
    width: 350px;
    height: 230px;
  }

  .flip-card {
    width: 340px;
    height: 340px;
  }

  .flip-card {
    width: 380px;
    height: 530px;
  }
}
.fotos-tienda {
  width: 400px;
  height: 420px;
  padding: 30px;
}

.tienda {
  background: url(../assets/img/fondo-blanco.jpg) no-repeat center center fixed !important;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  main div div {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .fotos-tienda {
    width: 300px;
    height: 320px;
  }
}
#formulario {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-left: 5px;
}