@font-face {
  font-family: roboto;
  src: url(../assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: helvetica;
  src: url(../assets/fonts/coolveticarg.otf);
}
@font-face {
  font-family: RachelBrown;
  src: url(../assets/fonts/RachelBrown.ttf);
}
@font-face {
  font-family: universal;
  src: url(../assets/fonts/Universal\ Serif.ttf);
}
.body-index {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(17, 182, 242)), to(rgb(183, 222, 237)));
  background: linear-gradient(to bottom, rgb(17, 182, 242) 0%, rgb(183, 222, 237) 100%);
}

#main-index {
  padding: 30px;
}

#row-1 {
  height: 100%;
}

.bordes {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin: 10px;
}

#tabla {
  text-align: center;
  margin-top: 30px;
  padding: 5px;
  border: 4px solid #052c3a;
  border-radius: 10px;
  color: #9bceb0;
  background: url(../assets/img/footer.webp) no-repeat center center fixed;
  background-size: cover;
}

.medidas {
  width: 350px;
  height: 240px;
}

#subtitulo {
  text-align: start;
  font-size: 30px;
  color: black;
  margin-left: 10px;
}

#info-copa {
  margin-top: 40px;
}

#copa {
  border: 4px solid #052c3a;
  border-radius: 20px;
  margin-bottom: 20px;
}

#cartel-medio {
  background: url(../assets/img/blanco-horizontal.jpg) no-repeat center center fixed !important;
  background-size: cover;
  border-radius: 20px;
  padding: 10px;
  font-family: helvetica;
  margin-top: 20px;
}

#estadisticas {
  background: url(../assets/img/blanco-horizontal.jpg) no-repeat center center fixed !important;
  background-size: cover;
  margin-top: 20px;
}
#estadisticas h3 {
  margin-top: 20px;
  color: #040955;
}

#goleadores {
  border: solid 1px black;
  border-radius: 30px;
  margin-bottom: 20px;
}

.filas-info, .numeros-info {
  font-size: 60px;
  font-family: helvetica;
}

.resultados-finales {
  padding: 5px;
}

.jugadores {
  margin-top: 10px;
}

.numeros-info {
  font-size: 40px;
}

@media screen and (max-width: 1590px) {
  .medidas {
    width: 250px;
    height: 200px;
  }
}
@media screen and (max-width: 1200px) {
  .medidas {
    width: 200px;
    height: 150px;
  }
}
@media screen and (max-width: 990px) {
  .medidas {
    width: 300px;
    height: 220px;
  }
}
@media screen and (max-width: 768px) {
  #copa {
    height: 250px;
  }

  #subtitulo {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  #copa {
    height: 200px;
  }

  h1, h2 {
    font-size: 30px;
  }
}
.fondo-general, .fotos-historia, footer, .bordes {
  background: url(../assets/img/footer.webp) no-repeat center center fixed;
  background-size: cover;
}

footer {
  height: 40vh;
  margin-top: 40px;
}

header {
  height: 30vh;
  background: url(../assets/img/fondo3.jpg) no-repeat center center fixed;
  background-size: cover;
}
header nav {
  margin-left: 20px;
}
header nav ul li {
  padding: 15px;
  border-radius: 3px;
  margin: 20px;
  list-style-type: none;
}
header nav ul li a {
  font-size: 28px !important;
  color: white !important;
  text-decoration: none;
  font-family: helvetica;
  padding: 5px;
}

h1, h2 {
  color: #040955;
  font-size: 60px;
  text-align: center;
  font-family: universal;
}

p {
  text-align: center;
}

#logo-header {
  text-align: center;
  margin: 20px;
}

#logo {
  width: 150px;
  height: 150px;
}

#footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.links-ayuda {
  text-decoration: none;
  color: antiquewhite;
}

.social-media {
  text-align: center;
  color: antiquewhite;
}

h2 {
  font-size: 40px;
  font-family: RachelBrown;
}

h4 {
  color: dodgerblue;
}

@media screen and (max-width: 990px) {
  header {
    height: 100vh;
  }
  header nav ul li a {
    color: black !important;
  }
}
@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 40px;
  }

  #logo {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 480px) {
  #logo {
    width: 100px;
    height: 100px;
  }
}
.body-partidos {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(17, 182, 242)), to(rgb(183, 222, 237)));
  background: linear-gradient(to bottom, rgb(17, 182, 242) 0%, rgb(183, 222, 237) 100%);
}

#caption {
  color: #040955;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif bold;
  font-weight: bold;
}

#titulos-tabla {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif bold;
}

#tablas-partidos {
  font-size: 14px;
  padding: 20px;
}

.bordes-fotos {
  border: 3px solid #040955;
  margin-top: 45px;
  margin-bottom: 45px;
  -webkit-box-shadow: 0px 0px 34px 6px rgb(39, 68, 214);
          box-shadow: 0px 0px 34px 6px rgb(39, 68, 214);
  width: 550px;
  height: 350px;
}

#tablas-ligas {
  text-align: center;
}

.puntos {
  background-color: aqua;
}

@media screen and (max-width: 1210px) {
  .bordes-fotos {
    width: 460px;
    height: 300px;
  }
}
@media screen and (max-width: 1050px) {
  .bordes-fotos {
    width: 420px;
    height: 275px;
  }
}
@media screen and (max-width: 550px) {
  .bordes-fotos {
    width: 300px;
    height: 210px;
  }
}
.fotos-historia {
  border: solid 3px black;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.medidas-historia {
  width: 500px;
  height: 340px;
  margin-top: 10px;
  border-radius: 20px;
  border-style: inset;
  -webkit-box-shadow: 0px 0px 36px 6px rgb(51, 132, 138);
          box-shadow: 0px 0px 36px 6px rgb(51, 132, 138);
}

.bordes-historia {
  text-align: center;
}

#primer-parrafo {
  padding: 8px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 36px 6px rgb(51, 132, 138);
          box-shadow: 0px 0px 36px 6px rgb(51, 132, 138);
  border: 2px double dodgerblue;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#segundo-parrafo {
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px double dodgerblue;
  -webkit-box-shadow: 0px 0px 36px 6px rgb(51, 132, 138);
          box-shadow: 0px 0px 36px 6px rgb(51, 132, 138);
  text-align: center;
}

#ultima-info {
  margin-top: 15px;
}

#titulo-carta {
  color: rgb(15, 206, 180);
}

main div div div div div h2 {
  font-family: universal;
}
main div div div div div h5 {
  color: #040955;
}

.flip-card {
  background-color: transparent;
  width: 450px;
  height: 450px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #052c3a;
  padding: 20px;
}

.flip-card-back {
  background-color: #2980b9;
  color: aliceblue;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 20px;
  font-size: 18px;
}

@media screen and (max-width: 1210px) {
  .medidas-historia {
    width: 400px;
    height: 270px;
  }
}
@media screen and (max-width: 990px) {
  #texto-marcado {
    width: 500px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  #texto-marcado {
    border-radius: 30px;
    width: 350px;
    font-size: 12px;
  }

  #titulo-carta {
    font-size: 18px;
  }

  .medidas-historia {
    width: 350px;
    height: 260px;
  }

  #himno-video {
    width: 420px;
    height: 280px;
  }
}
@media screen and (max-width: 510px) {
  #texto-marcado {
    width: 270px;
  }

  #titulo-carta {
    font-size: 16px;
  }

  .medidas-historia {
    width: 300px;
    height: 220px;
  }

  #himno-video {
    width: 350px;
    height: 230px;
  }
}
.fotos-tienda {
  border: 2px double dodgerblue;
  -webkit-box-shadow: 0px 0px 36px 6px rgb(51, 132, 138);
          box-shadow: 0px 0px 36px 6px rgb(51, 132, 138);
  margin-top: 20px;
  width: 500px;
  height: 320px;
}

.cuestionario div {
  padding: 5px;
  margin-right: 10px;
}

#formulario {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-left: 5px;
}